# Vivado artifacts #
###################
*.jou 
*.log 
xsim.* 
xelab.* 
xvlog.* 
sim.wdb
xsim.dir
*.str

# Visual studio code Workspace file # 
#####################################
*.code-workspace

# Junk # 
#####################################
*.zip
*.log
build/
